.main{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.landing-section-carousel{
  width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.landing-section-text {
  position: relative;
  width: 900px;
  height: 390px;
}

.landing-section-text>div>h2{
  font-family: Palanquin;
  font-weight: 600;
  font-size: 2.5rem;
  padding-bottom: 8px;
  line-height: 120%;

  color: rgba(78, 164, 135, 1);
}

.landing-section-text>div>h1{
  font-family: Arima;
  font-weight: 700;
  font-size: 4rem;
  padding-bottom: 8px;
  line-height: 120%;

  color: rgba(241, 201, 83, 1); 
}

.landing-section-text>div>p{
  font-family: Palanquin;
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
}

.landing-section-metadata{
  display: flex;
  align-items: flex-end;
  gap: 32px;
  position: absolute; bottom: 0;
}

.landing-section-metadata-postdetails{
  display: flex;
  gap: 6px;
  font-family: Palanquin;
  font-weight: 400;
  font-size: 1rem;
}

.authorsection {
  width: 270px;
  background-color: rgba(78, 164, 135, 0.2);
  border-radius: 30px;

}

.img-box{
  display: flex;
  justify-content: center;
}

.author-img{
  margin-top: 16px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: -40px;
}
.author-passage {
  padding: 16px;
}

.authorsection-name{
  font-family: Arima;
  font-weight: 700;
  font-size: 1,125rem;
  text-align: center;
}

.authorsection-job-titel{
  font-family: Arima;
  font-weight: 400;
  font-size: 1,125rem;
  text-align: center;
}

.author-text{
  font-family: Palanquin;
  font-weight: 400;
  font-size: 1rem;
  text-align: start;
  line-height: 120%;
}

.slider-section{
  padding-top: 90px;
  padding-bottom: 90px;
  max-width: 1100px;
}

.slider-section > div > p{
  font-family: Arima;
  font-weight: 600;
  font-size: 2rem;
  text-align: center
}

.img-slider{
  padding-top: 64px;
  width: 1300px;
  height: 440px;
  display: flex;
  justify-content: center;
}

.slider_element {
  z-index: 1;
  width: 300px;
  height: 440px;
  border-radius: 16px;
  margin-left: -100px;

  object-fit: cover;

  box-shadow:
    0px 4px 3px rgba(3, 7, 18, 0.03),
    0px 14px 11px rgba(3, 7, 18, 0.05),
    0px 32px 24px rgba(3, 7, 18, 0.08);

  transform: perspective(250px) rotateY(10deg) translateX(-10px);
  transform-origin: 50% 50%;

  transition: all 250ms ease-in-out;
}

.slider_element:hover {
  z-index: 2;
  transform: perspective(200px) rotateY(0deg) translateX(0px);
  margin-right: 96px;
  margin-left: 0px;
}

.slider_element:hover~.slider_element{
  transform: perspective(200px) rotateY(-10deg) translateX(10px);
}

.description{
  padding-top: 90px;
}

.description-box{
  font-family: Palanquin;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: start;
  line-height: 120%;
}

.info{
  padding: 90px 100px;
}

.info-p-tag{
  font-family: Palanquin;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: start;
  line-height: 120%;
  padding-bottom: 16px;
}

.info-li-tag{
  font-family: Palanquin;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: start;
  line-height: 120%;
}

.pro-tipps{
  width: 1130px;
  height: 260px;
  padding: 0px 0px 90px 82.5px;
  margin-bottom: 90px;
}

.pro-tipps-box {
  z-index: 1;
  background-color: rgba(78, 164, 135, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 66px;
  border-radius: 10px;
  position: relative;
  top: 24px;
  left: -32px;
}

.pro-tipps-box>p{
  font-family: Palanquin;
  font-weight: 700;
  font-size: 1.75rem;
  color: rgba(241, 201, 83, 1);
}

.pro-tipps-discription{
  z-index: 2;
  font-family: Palanquin;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 120%;
  background-color: rgba(78, 164, 135, 0.2);
  border-radius: 30px;
  width: 1083px;
  height: 195px;
  display: flex;
  justify-content: flex-end;
}

.pro-tipps-discription > div {
  display: flex;
  justify-content: space-around;
  padding: 26px 16px;
}
.pro-tipps-box{
  transform: rotate(-13.67deg)
}

.pro-tipps-box > img {
  transform: rotate(13.67deg);
}

.share-button > p {
  font-family: arima;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 120%;
  text-align: center;
}