.landing-section-introtext > p{
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regualr;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0%;

    padding-top: 80px;
}

.main-rain{
    width: 1200px;
    height: 756px;
    gap: 88px;

    justify-content: center;
    text-align: center;

    padding-top: 80px;
}

.main-rain-graphic{
    height: 494px;
    gap: 24px;
}

.main-rain-graphic > p{
    font-family: Arima;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0%;

    gap: 30px;
}   

.main-rain-graphic > img{
    width: 640px;
    height: 436px;
    border-radius: 53px;

    padding-top: 20px;
}

.main-rain-graphic-descr > p{
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0%;

    text-align: start;

    padding-top: 80px;

}

.main-beach-accomodation{
    width: 1200px;
    height: 1047px;
    gap: 88px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-beach-accomodation-split{
    display: flex;
    flex-direction: row;
    
    width: 1118px;
    height: 727px;
    gap: 80px;
}

.main-beach-accomodation-split-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    gap: 24px;
}

.main-beach-accomodation-split-left > h2{
    font-family: Arima;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0%;

    text-align: center;

    color: rgba(84, 55, 13, 1);
;
}

.main-beach-accomodation-split-left > p{
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0%;

    color: rgba(61, 61, 61, 1);
;
}

.main-beach-accomodation-split-left > img{
    width: 519px;
    height: 471px;
    border-radius: 53px;
}


.main-beach-accomodation-split-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    gap: 24px;

    align-items: baseline;
}

.main-beach-accomodation-split-right > h2{
    font-family: Arima;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0%;

    text-align: center;

    color: rgba(84, 55, 13, 1);
}

.main-beach-accomodation-split-right > p{
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0%;

    color: rgba(61, 61, 61, 1);
}

.main-beach-accomodation-split-right > img{
    width: 519px;
    height: 471px;
    border-radius: 53px;

    align-items: baseline;
}

.main-beach-accomodation-descr{
    height: 232px;
}

.main-beach-accomodation-descr > p{
     font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0%;

    color: rgba(61, 61, 61, 1);
}

.share{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 1200px;
    height: 154px;

    gap: 48px;
}

.share-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 463px;
    height: 154px;

    text-align: center;
    align-content: space-between;
    
}

.share-box > p{
    font-family: Arima;
    font-weight: 500;
    font-style: Medium;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0%;

    color: rgba(84, 55, 13, 1);
}

.radio-a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    position: relative;

    width: 158px;
    height: 48px;
    border-radius: 40px;

    background-color: rgba(78, 164, 135, 1);

    transition: transform 0.4s ease; width: 0.4s ease;

    cursor: pointer;
}


.radio-slider input{
    z-index: 2;
}

.radio-wrapper{
    z-index: 1;
    width: 100%;
    height: 100%;

    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: all 0.4s ease;
}

.radio-slider:checked + .radio-a{
    width: 100px;
    transform: translateX(-50px);
    cursor: default;
}
