/* palanquin-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/palanquin-v17-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/palanquin-v17-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/palanquin-v17-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */


}

/* arima-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Arima';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/arima-v7-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* arima-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Arima';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/arima-v7-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}



.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 128px;
  background-color: rgba(78, 164, 135, 1);
  padding: 0px 146px 0px 146px;
  gap: 102px;
}

.header>img {
  width: 72px;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 72px;
  height: 19px;
  text-decoration: none;
  color: rgba(248, 245, 235, 1);
  font-family: Arima;
  font-weight: 700;
  font-size: 1.5rem;

}

.header a {
  color: #ffffff;
  text-decoration: none;

}

.header a:hover {
  color: #ffffff;
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #F1C953;

}

.header a:active {
  color: #F1C953;
  cursor: pointer;
  text-decoration: none;

}


.footer {
  width: 100%;
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 128px;
  background-color: rgba(78, 164, 135, 1);
  padding: 0px 146px 0px 146px;
  justify-content: space-between;
  font-family: Palanquin;
}

.footer-section-left-links {
  display: flex;
  align-items: center;
  gap: 60px;
}

.footer-section-left-copyright {
  display: flex;
  align-items: center;
}

.footer-section-right {
  display: flex;
  align-items: center;
  gap: 15px;
}


/* Carousel.html */
.landing-section-carousel{
  width: 1201px;
  margin: 0 auto;
}

.landing-section-carousel>div {

  display: flex;
  justify-content: space-between;
}

.landing-section-text {
  width: 902px;
}

.landing-section-text>h2 {
  font-family: Palanquin;
  font-weight: 600;
  font-size: 2.5rem;
  padding-bottom: 8px;
  line-height: 120%;

  color: rgba(78, 164, 135, 1);
}

.landing-section-text>h1 {
  font-family: Arima;
  font-weight: 700;
  font-size: 4rem;
  padding-bottom: 8px;
  line-height: 120%;

  color: rgba(241, 201, 83, 1); 
}

.landing-section-text>p {
  font-family: Palanquin;
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
}

.landing-section-metadata{
  display: flex;
  align-items: end;
  gap: 32px;
}

.landing-section-metadata-postdetails{
  display: flex;
  gap: 6px;
  font-family: Palanquin;
  font-weight: 400;
  font-size: 1rem;
}

.authorsection {
  width: 272px;
  height: 389px;
  background-color: rgba(78, 164, 135, 0.2);
  border-radius: 30px;

}

.authorsection>img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* article02.html */